:root {
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #ee4d2d;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-sort-height: 46px;
}

* {
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 90px;
    height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    text-transform: capitalize;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    opacity: 0.9;
}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

.btn.btn-with-icon {
    width: 210px;
}

.btn.btn-size-l {
    min-width: 200px;
}

.radius-shadow {
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


/* fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleOut {
    from {
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes slideLeftIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateX(0);
    }
}


/* Modal base */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /* display: none; */
    animation: fadeIn .3s linear;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    margin: auto;
    background-color: var(--white-color);
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    animation: scaleOut .2s linear;
}

/* Pseudo class for making a bridge btwn item & qr */
.noti::after,
.header__qr::before,
.search-bar__option::before,
.search__cart-container::after,
.navbar__user-menu::after,
.heading-filter-menu::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;   
    height: 20px;
    display: block;
    background-color:transparent;
}

/* Triangle ontop slide box */
.navbar__user-menu::before,
.search__cart-container::before,
.noti::before {
    content: "";
    border: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1rem solid var(--white-color);
    position: absolute;
    bottom: 100%;
    right: 3rem;
}

.discount-tag {
    width: 36px;
    font-size: 1.2rem;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    color: rgba(255, 216, 64, 0.9);
    background-color: currentColor;
    border-top-right-radius: 2px;
}

.discount-tag::after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    content: "";
    border-top: none;
    border-left: 18px solid currentColor;
    border-right: 18px solid currentColor;
    border-bottom: 5px solid transparent;
}

.discount-pct {
    color: var(--primary-color);
}

.discount-text {
    color: var(--white-color);
}

.shop-type {
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 0 2px 0 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.shop-type::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.shop-type span {
    color: var(--white-color);
}

.shop-type i {
    font-size: 1rem;
    color: var(--white-color);
}

.product__item-price {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.original-price {
    text-decoration: line-through;
    margin-right: 4px;
}

.promoted-price {
    color: var(--primary-color);
}

.pagination {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

li.pagination__item--active 
.pagination__item-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
}

li.pagination__item--active 
.pagination__item-btn:hover {
    background-color: var(--primary-color);
    filter: brightness(120%);
}

.pagination__item-btn {
    font-size: 1.5rem;
    color: #9c9c9c;
    background-color: #f5f5f5;
    border: none;
    min-width: 40px;
    height: 36px;
    cursor: pointer;
    margin: 0 10px;
}

.pagination__item-btn:hover {
    color: var(--primary-color);
}


/* vertical separate item */
.footer__country-item::after{
    content: "";
    position: absolute;
    border-right: 1px solid #ccc;
    right: 0px; 
    height: 100%; 
}

.footer__country-item:last-child::after {
    display: none;
}




